<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Dashboard - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- CSS files -->
    <link href="/dash/dist/css/tabler.min.css?1684106062" rel="stylesheet"/>
    <link href="/dash/dist/css/tabler-flags.min.css?1684106062" rel="stylesheet"/>
    <link href="/dash/dist/css/tabler-payments.min.css?1684106062" rel="stylesheet"/>
    <link href="/dash/dist/css/tabler-vendors.min.css?1684106062" rel="stylesheet"/>
    <link href="/dash/dist/css/demo.min.css?1684106062" rel="stylesheet"/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <style>

      :root {
          --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
          font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
  </head>
  <body >
    <script src="/dash/dist/js/demo-theme.min.js?1684106062"></script>
   
        @RenderBody()
  

    <!-- Libs JS -->
    <script src="/dash/dist/libs/apexcharts/dist/apexcharts.min.js?1684106062" defer></script>
    <script src="/dash/dist/libs/jsvectormap/dist/js/jsvectormap.min.js?1684106062" defer></script>
    <script src="/dash/dist/libs/jsvectormap/dist/maps/world.js?1684106062" defer></script>
    <script src="/dash/dist/libs/jsvectormap/dist/maps/world-merc.js?1684106062" defer></script>
    <!-- Tabler Core -->
    <script src="/dash/dist/js/tabler.min.js?1684106062" defer></script>
    <script src="/dash/dist/js/demo.min.js?1684106062" defer></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

  </body>
</html>
