@using OurRecipes.ViewModels
@model ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
    Layout = null;
}
@if (!ViewData.ModelState.IsValid)
{
        <div class="alert alert-danger">
        @foreach (var modelState in ViewData.ModelState.Values)
        {
            foreach (var error in modelState.Errors)
            {
                            <p>@error.ErrorMessage</p>
            }
        }
        </div>
}

<form asp-controller="Auth" asp-action="ResetPassword" method="post">
  
    <input type="hidden" name="Token" value="@Model.Token" />
  

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
