
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerificationEmailResent</title>

</head>
<body>
    <h1>Email Resent Successfully!</h1>
    <p>Please check your email to confirm your email address.</p>

</body>
</html>
